<h1>Hello, Rails!</h1>
<!--The link_to method is one of Rails' built-in view helpers. It creates a hyperlink based on text to display and where to go - in this case, to the path for articles.-->
<!--  el string se renderea en el html, y el control es la ruta: http://localhost:3000/articles-->
<%= link_to ' Blog', controller: 'articles' %>
